/* FULL SCREEN WRAPPER */
.modal {
  width: 100vw;
  height: 100vh;
  background: white; /* Initial page is white */
  overflow: hidden;
  font-family: "Georgia", serif;
}

/* HOLDS initial page + overlay + modal */
.modal-container {
  width: 100%;
  height: 100%;
  position: relative;
 
}

/* GREY BACKGROUND WHEN MODAL IS OPEN */
.blur-bg {
  background: rgba(0, 0, 0, 0.45);
}

/* INITIAL PAGE LAYOUT */
.initial-page {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
}

.initial-page h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* BLUE OPEN BUTTON */
.open-btn {
  background: #0d6efd;
  color: white;
  padding: 10px 35px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* MODAL BOX */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.25);
}

/* MODAL HEADING */
.modal-content h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

/* LABEL STYLING */
label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 12px;
  font-weight: 600;
  text-align: center;
}

/* FORM INPUT STYLING */
input {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
 
}

/* BLUE SUBMIT BUTTON */
.submit-button {
  background: #0d6efd;
  color: white;
  padding: 12px 40px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
}
